@media screen and (max-width: 35em){
  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0.3em;
    line-height: 1.2em;
    margin-bottom: .8px;
    margin-top: 3.5px;
  }
  
  h1 {
    font-size: 1.2em;
  }
  
  h2 {
    font-size: 1.1em;
  }
  
  h3 {
    font-size: .9em;
  }
  h4{
    font-size: .8em;
  }

  p{
    font-size: 12px;
  }
  header{
    height: 120px;
  }
  header img{
    max-width: 100px;
    margin-left: 5%;
  }
  }