@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather+Sans:ital@0;1&display=swap');

:root {
  --heading-font: "Merriweather Sans", helvetica, sans-serif;
  --paragraph-font: "Lato", Times, serif;
  /* --nav-backcolor: #1ca658; */
  --nav-backcolor: #145A32;
  --nav-color: #C4191A;
}

body {
  margin: 0; 
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  padding: 0.5em;
  line-height: 1.5em;
  margin-bottom: 1px;
  margin-top: 5px;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4{
  font-size: 1.2em;
}

p{
  font-family: var(--paragraph-font);
}
header{
  height: 180px;
  display: block; 
  position: fixed; 
  width: 100%;
}


/* logo */
header img{
  max-width: 200px;
  margin-left: 15%;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}

.header-top{
  text-align: right;
  padding: 57px;
  background-color: #ffffff;
}

.header-top h1{
  position: absolute;
  width: 100%;
  margin: -10px auto 0 40px;
  padding: 0;
  text-align: center;
  font-weight: 1.5px;
  font-size: 36px;
}

/* Join Now! button */
.link-holder{
  margin-top: 20px;
  margin-right: 20px; 
  padding: 10px 30px;
  background-color: var(--nav-backcolor);
  position: relative;
}
#join{
  font-family: var(--heading-font);
  color: #ffffff;
  
}

#join:link{
  text-decoration: none;
}

nav {
  margin: 0;
  padding: 0;
  text-align: right;
  background: var(--nav-backcolor);
  opacity: 0.8;
  font-family: var(--heading-font);
}
nav ul {
  list-style: none;
  margin: 0 5% 0 20%;
  overflow: hidden;
}
nav ul li {
  display: inline-block;
}
nav ul li:first-child {
  display: none;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav ul li .active{
  color: #ACC8E5; 
}

main{
  padding-top: 180px;
  width: 100%;
  display: grid;
  grid-template-rows: 400px 1fr 1fr 350px;
}

.main-top{
  grid-row: 1/2;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 55% 1fr;

}

#call_action{
  grid-column: 1/2;
  background: var(--nav-backcolor);
  z-index: -1;
  -webkit-clip-path: polygon(20% 10%, 85% 30%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  padding: 100px 0;
}

#call_action p{
  text-align: center;
  font-size: 250%;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
}


#hero-image{
  grid-column: 2/3;
  margin: 0 0 0 -18%;
  z-index: -2;
}

#hero-image img{
  height: 100%;
  width: 100%;
  
}
.cards{
  grid-row: 2/3;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.card{
  width: 100%;
  text-align: center;
  color: #145A32;
}

.card p{
  margin: 10px 30px;
}
.card img{
  width: 95%;
  height: 50%;
  margin: 5px;
  padding: 10px;
 
}
#card-1{
  background-color:#e3b505;   
}


#card-2{
  background-color:#EBCB4A ;

}

#card-3{
  background-color:#e3b505; 
  
}



.events{
  grid-row: 3/4;
  background-color:#044b7f; /*scaffolding*/
  width: 100%;
  margin: 0;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.events img{
  height: 300px;
  margin: 20px;
  border-radius: 3px;
}

.about{
  grid-row: 4/5;
  background-color:#5b8c70;
  
  width: 100%;
  margin-top: -5px;
  padding: 0 80px;
  color: #000000;
  font-family: var(--heading-font);
  font-size: 1.2em;
  font-weight: 200;
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  grid-template-rows: 60px 1fr;
}
.about h4{
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  
}

.about img{
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 90%;
  max-height: 80%;
  border-radius: 3px;
  margin: 0 auto;
  padding: auto;
}
.about article{
  grid-row: 2/3;
  padding: 10px;
  margin: 20px 10px;
  text-align: center;
}
.about ul{
grid-column: 3/4;
  grid-row: 2/3;

}
.about ul li{
  list-style: none;
  margin: 5px;
  padding: 5px 10px;
}

.social-media a img{
  max-width: 60px;
  padding: 20px 10px 30px 50px;
}
footer {
  text-align: center;
  background-color: var(--nav-backcolor);
  color: #ffffff;
  font-size: 1.1em;
  display: grid;
  height: 55px;
  margin-bottom: 0;
}

footer a{
  color: #ffd700;
}