@import url('https://fonts.googleapis.com/css?family=New+Tegomin|Quicksand');

:root {
  --heading-font: "New Tegomin", Times, serif;
  --paragraph-font: Quicksand, helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  font-size: 1.1em;
  padding: 0.5em;
  line-height: 1.5em;
  margin-bottom: 1px;
  margin-top: 5px;
}

p {
  padding: 0 0;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}


body {
  background-color: white;
  font-family: var(--paragraph-font);
}

#content {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

header {
  align-items: center;
  text-align: center;
  color: white;
  font-size:x-large;
  background-color: rgb(23, 128, 84);
  display: grid;

}


.main-content {
  padding: 1em 3em;
}


footer {
  text-align: center;
  color: white;
  background-color: rgb(23, 128, 84);
  display: grid;
  height: 55px;
  grid-template-columns: auto 150px;
}
