@import url('https://fonts.googleapis.com/css?family=Quicksand|Varela+Round');

:root {
  --heading-font: Quicksand, helvetica, sans-serif;
  --paragraph-font: "Varela Round", Times, serif;
  --content-font: "Varela Round", sans-serif;
}

.colors{
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
}
.color1{
  background-color: #79B4B7;
}
.color2{
  background-color: #d6d0d0;
}
.color3{
  background-color: #FEFBF3;
}
.color4{
  background-color: #9D9D9D;
}
body {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  padding: 0.5em;
  line-height: 1.5em;
  margin-bottom: 1px;
  margin-top: 5px;
}
h1{
  font-size: 1.7em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.3em;
}

p {
  padding: 0 0;
  font-family: var(--paragraph-font);

}

li {
  padding: 5px;
}

a {
  text-decoration: none;
}
a:hover {

  color: green;

}

header {
  text-align: center;
  color: white;
  font-size:x-large;
  background-color: #79B4B7;
  padding:2px;
  border-radius: 3px;
}

header img {
  float:right;
	width: 200px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  margin: 20px 0 0 0;
}

.main-content {
  padding: 1em 3em;
  font-family: var(--content-font);
  background-color: #FEFBF3;
}

.navbar{
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #d6d0d0;
  

}

.navbar li{
  display: block;
	text-align: center;
	padding: 0.5rem;
  border-color: rgb(156, 154, 154);
  border-style: solid;
  border-width: 1px;
}

.site-name{
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-name a{
  font-size: 20px;
}
.content{
  margin-left: 20px;
  text-align: justify;
}
.logo{
  text-align: center;
  
}

.logo img{
  width: 40%;
}

.card{
  padding:0;
  margin-bottom: 5px;;
}

.persons{
  padding: 0;
  margin:0;
}
footer {
  text-align: center;
  background-color: #9D9D9D;
  font-size: 1.1em;
  display: grid;
  height: 55px;
  border-radius: 3px;
}

footer a{
  color: #1C0891;
}
